<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba HTML</title>
</head>
<body>
    <img src="/imgs/deadpool.jpg" alt="Deadpool" width="350" height="250">

     <h1> DeadPool 2 </h1>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ad ducimus explicabo voluptas omnis! Recusandae autem alias 
        aliquam corporis nihil voluptate dolorem, maxime natus, expedita quas, eligendi tempore cum illum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur tempora cum quod inventore veritatis ipsam in ab laborum aut natus nulla quisquam fugiat magni repudiandae, 
        suscipit facere numquam fugit ad?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ad ducimus explicabo voluptas omnis! Recusandae autem alias 
        aliquam corporis nihil voluptate dolorem, maxime natus, expedita quas, eligendi tempore cum illum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur tempora cum quod inventore veritatis ipsam in ab laborum aut natus nulla quisquam fugiat magni repudiandae, 
        suscipit facere numquam fugit ad?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ad ducimus explicabo voluptas omnis! Recusandae autem alias 
        aliquam corporis nihil voluptate dolorem, maxime natus, expedita quas, eligendi tempore cum illum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur tempora cum quod inventore veritatis ipsam in ab laborum aut natus nulla quisquam fugiat magni repudiandae, 
        suscipit facere numquam fugit ad?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ad ducimus explicabo voluptas omnis! Recusandae autem alias 
        aliquam corporis nihil voluptate dolorem, maxime natus, expedita quas, eligendi tempore cum illum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur tempora cum quod inventore veritatis ipsam in ab laborum aut natus nulla quisquam fugiat magni repudiandae, 
        suscipit facere numquam fugit ad?</p>

        <ul type="square">
            <li>Item 1
                <ol type="I">
                    <li>Subitem 1</li>
                    <li>Subitem 2</li>
                </ol>
            </li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    

        <h3>Nuestras Redes Sociales </h3>

        <ul>
            <li> <a href="www.facebook.com">Facebook</a></li>
            <li><a href="instagram.com">Instagram</a></li>
            <li><a href="www.google.com">Google</a> </li>
        </ul>



</body>
</html>